<div ng-controller="View2Ctrl as stuff">
    <h2>What are the best combinations of natural sources I can create with my giants?</h2>
    <h3>1. Select which ambassadors you have.</h3>
    <ul>
        <!-- Iterate the giants. -->
        <li ng-repeat="giant in stuff.giants">
            {{ giant.name }}
            <!-- For each giant show it's slots and in each slot show possible ambassadors. -->
            <select
                    ng-repeat="slot in giant.slots"
                    ng-model="slotModel"
                    ng-options="ambassador.name for ambassador in stuff.ambassadors"
                    ng-change="update()">
                <option value="">- None -</option>
            </select>
        </li>
    </ul>

    <div>
        <h3>2. How much space do you want to cover with natural sources.</h3>
        <input type="number" ng-model="lotSize" ng-change="updateLotSize()"/>
    </div>
    <div>
        <button ng-click="calculateStuff()">Calculate</button>
    </div>

    <p>
        {{ calculationResult }}
    </p>
</div>