<div>
    <h2>What are the best combinations of natural sources I can create with my giants?</h2>
    <h3>1. Select which ambassadors you have.</h3>

    <div class="form-horizontal">
        <!-- Iterate the giants. -->
        <div ng-repeat="giant in giants" class="form-group">
            <div class="col-xs-2 " style="text-align: right">{{ giant.name }}</div>
            <!-- For each giant show it's slots and in each slot show possible ambassadors. -->
            <div class="col-xs-10">
                <select
                        ng-repeat="slot in giant.slots"
                        ng-model="slotModel"
                        ng-options="ambassador.biome for ambassador in ambassadors"
                        ng-change="update()">
                    <option value="">- None -</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <h3>2. How much space do you want to cover with natural sources.</h3>
        <input type="number" ng-model="lotSize" ng-change="updateLotSize()"/>
    </div>
    <div>
        <button ng-click="calculateStuff()">Calculate</button>
    </div>

    <p>
        {{ calculationResult }}
    </p>
</div>