<script>
    $(document).ready(function () {
        $('#results-table').DataTable();
    });
</script>

<div>
    <h2>What are the best combinations of natural sources I can create with my giants?</h2>
    <h3>1. Select which ambassadors you have.</h3>

    <div class="form">
        <!-- Iterate the giants. -->
        <div ng-repeat="giant in giants" class="form-group">
            <div class="col-xs-2 " style="text-align: right">{{ giant.name }}</div>
            <!-- For each giant show it's slots and in each slot show possible ambassadors. -->
            <div class="col-xs-10">
                <select
                        ng-repeat="slot in giant.slots"
                        ng-model="slotModel"
                        ng-options="ambassador.biome for ambassador in ambassadors"
                        ng-change="update()">
                    <option value="">- None -</option>
                </select>
            </div>
        </div>
    </div>

    <div ng-repeat="giant_abilities_and_aspects in active_abilities_and_aspects">
        {{ giant_abilities_and_aspects.giant_name }}
        <span ng-repeat="ability_with_level in giant_abilities_and_aspects.abilities">
            [{{ ability_with_level.ability.name }} {{ ability_with_level.level }}]
        </span>
        <span ng-repeat="aspect_with_level in giant_abilities_and_aspects.aspects">
            [{{ aspect_with_level.aspect.name }} {{ aspect_with_level.level }}]
        </span>
    </div>

    <div>
        <h3>2. How much space do you want to cover with natural sources.</h3>
        <div>
            Number of tiles to use: <input type="number" ng-model="lotSize" ng-change="updateLotSize()"/>
        </div>
    </div>

    <div>
        <h3>3. Select natural source filters.</h3>

        <div class="col-xs-4">
            <div class="panel panel-info">
                <div class="panel-heading">Biomes</div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label ng-repeat="biome in selected_biomes">
                            <input type="checkbox" value="{{biome.name}}" ng-model="biome.selected">
                            {{biome.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-info">
                <div class="panel-heading">Families</div>
                <div class="panel-body">

                    <div class="checkbox">
                        <label ng-repeat="family in selected_families">
                            <input type="checkbox" value="{{family.name}}" ng-model="family.selected">
                            {{family.name}}
                        </label>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-12">
        <h3>4. Calculate and wait for it....</h3>
        <div>
            <button ng-click="calculateStuff()">Calculate</button>

            <div>Possible natural sources: {{possible_natural_sources.total_count}}</div>
            <div>Iterations needed for calculations: {{iterations_needed}}</div>
        </div>
    </div>


    <div class="col-xs-12">
        <h3>5. Results</h3>

        <table  datatable="ng" class="table" id="results-table">
            <thead>
            <tr>
                <th>Sources</th>
                <th>Food</th>
                <th>Wealth</th>
                <th>Technology</th>
                <th>Natura</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="best_tech in best_results">
                <td>{{ best_tech.s }}</td>
                <td>{{ best_tech.b.get_benefit("food").Amount }}</td>
                <td>{{ best_tech.b.get_benefit("wealth").Amount }}</td>
                <td>{{ best_tech.b.get_benefit("technology").Amount }}</td>
                <td>{{ best_tech.b.get_benefit("natura").Amount }}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>